.content-div{
    position: relative;
    bottom: 40rem;
}
.content-div h1{
    position: relative;
    top: 35rem;
    left: 41rem;
}
.content-div h2{
    position: relative;
    top: 36rem;
    left: 37rem;
}
.wrapper ul{
    position: relative;
    top: 40rem;
    left: -30rem;
    width: 50%;
    height: 50%;
}
blockquote{
    width: 30%;
    height: 40%;
}