*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.skill h1{
    /* text-align: center; */
    position: relative;
    bottom: 37rem;
    left: 10rem;
}
#p{
    position: relative;
   font-size: 1.5rem;
   width: 40%;
    left: 10rem;
    bottom: 35rem;
}
.one{
    display: flex;
    align-items: center;
    width: 45%;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 2rem;
    height: 12rem;
    border: 1px solid black;
    justify-content:space-evenly;
}
#one,#two, #three, #four{   
    display: flex;
}

.icon{
    font-size: 4.5rem;
}
.skill-icon{
    margin: 1rem;
}
.skill-container{ /* parent of skill */
    display: flex;
    width: 100%;
    align-items: center;
    height: 10rem;
    flex-wrap: wrap;
    justify-content: space-evenly;
    position: relative;
    bottom: 35rem;
}
.loader{
    display: flex;
    background-color: aqua;
    position: relative;
    bottom: 14rem;
}
.loader h1 {
    z-index: 10;
    width: 100%;
    position: relative;
    bottom: 0.5px;
    top: 1rem;
    height: 5rem;
    animation: slide 5s linear infinite;
    display: flex;
    gap:2.5;
    justify-content: space-evenly;
    flex-direction: row;
}
@keyframes slide{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-100%);
    }
}